:root{
    --background-color-figure: #8f08a4;
}

.figure {
  display: flex;
  flex-direction: column;
  border: 5px solid transparent;
}
.figure__image {
  width: 12.5rem;
  height: 18rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.figure__caption {
  background-color: #14161b;
  border-radius: 0 0 0.5rem 0.5rem;
}
.figure__caption h2 {
  margin: 0.75rem auto;
}

.figure:hover .figure__caption {
  background-color: var(--background-color-figure);
}
.figure:hover {
    border: 5px solid var(--background-color-figure);
    transform: scale(1.05);
    border-radius: 0.5rem;
    background-color: var(--background-color-figure);
  }
  