.header {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.branding {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header_imagecontainer {
  display: flex;
  max-width: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 25px;
}
.header_image {
  width: 100%;
}
.name {
  color: #fff;
}

@media (min-width: 500px) {
  .header {
    justify-content: space-between;
  }
  .header_imagecontainer {
    max-width: 56px;
  }
}
