.header {
  display: flex;
  align-items: center;
}

.header_imagecontainer {
  display: flex;
  max-width: 42px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 25px;
}
.header_image {
  width: 100%;
}
.name {
  color: #fff;
}

@media (min-width: 500px) {
  .header_imagecontainer {
    max-width: 56px;
  }
}
